<link rel="stylesheet" href="/stylesheets/variables.css" />
<link rel="stylesheet" href="/stylesheets/landing.css" />

<ul id="navBar">
    <li id="logoText">LogoText</li>
    <li class="navText" id="navWhatWeOffer">WHAT WE OFFER</li>
    <li class="navText" id="navContact">CONTACT</li>
    <li class="navText" id="navPricing">PRICING</li>
    <li class="navText" id="navLogin">Login</li>
</ul>

<div id="topContainer">
    <div id="topDiv">
        <div id="leftDiv">
            <h1 id="bigHeaderTop" class="bigHeader">
                Unlock Your Business<br />Potential With Facebook &<br />Instagram
                Advertising
            </h1>
            <p class="landingText">Facebook Premier Level Partner Agency</p>
            <ul>
                <li class="TryNowBtn">START TODAY</li>
            </ul>
        </div>
        <div id="rightDiv">
            <img id="homeImage" src="/images/homeImage.png" alt="Could not load image">
        </div>
    </div>

    <div id="bottomDiv">
        <div class="logoDiv">
            <img class="bottomLogos" src="/images/iconOne.png" alt="Could not load image">
            <p class="bottomLogoText">Powered by Facebook</p>
        </div>
        <div class="logoDiv">
            <img class="bottomLogos" src="/images/iconTwo.png" alt="Could not load image">
            <p class="bottomLogoText">Powered by bow&arrow</p>
        </div>
        <div class="logoDiv">
            <img class="bottomLogos" src="/images/iconThree.png" alt="Could not load image">
            <p class="bottomLogoText">Powered by the internet</p>
        </div>
        <div class="logoDiv">
            <img class="bottomLogos" src="/images/iconFour.png" alt="Could not load image">
            <p class="bottomLogoText">Powered by a contract</p>
        </div>
    </div>
</div>

<div id="secondContainer">
    <h3 id="whatWeOffer">What We Offer</h3>
    <div class="rowContainer">
        <div class="offerDivs">
            <h3 class="offerHeader">Analysis of something</h3>
            <ul class="offerList">
                <li class="offerPoint">We can help you get some data.</li>
                <li class="offerPoint">We get you to understand stuff.</li>
                <li class="offerPoint">We help you differientate relevant data.</li>
            </ul>
        </div>

        <div class="offerDivs">
            <h3 class="offerHeader">Analysis of something</h3>
            <ul class="offerList">
                <li class="offerPoint">We can help you get some data.</li>
                <li class="offerPoint">We get you to understand stuff.</li>
                <li class="offerPoint">We help you differientate relevant data.</li>
            </ul>
        </div>
        <div class="offerDivs">
            <h3 class="offerHeader">Analysis of something</h3>
            <ul class="offerList">
                <li class="offerPoint">We can help you get some data.</li>
                <li class="offerPoint">We get you to understand stuff.</li>
                <li class="offerPoint">We help you differientate relevant data.</li>
            </ul>
        </div>
    </div>


</div>
<div id="thirdContainer"></div>

<script src="/javascripts/landing.js"></script>